<%- include('partials/header'); -%>

<div class="postPageTitle">
  <h1><%=title%></h1>
</div>

<div class="">
  <img class="postPageImage" src="<%=image%>" alt="" />
  <p class="postPageContent"><%=content%></p>
</div>


<div class="postPageAuthor">
  <h1>Wordzz by "<%=author%>"</h1>
  <p>Posted on <%=date%></p>
</div>

<%- include('partials/footer'); -%>
